.about-us {
    color: #333;
}

.hero-banner {
    width: 100%;
    height: 90vh;
}

.heroImageDiv {
    width: 100%;
    height: 90vh;
}

.heroImageDiv img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    display: block;
}

.company-overview {
    padding: 50px 0px 20px 0px;
    width: 80%;
    margin: auto;
}

.company-overview h2 {
    font-size: 36px;
    color: #2a5d84;
    margin-bottom: 20px;
    text-align: center;
}

.company-overview p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.about-us-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 20px;
}

.about-us-content h2 {
    font-size: 36px;
    color: #2a5d84;
    margin-bottom: 40px;
}

.values-list-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 30px;
    justify-items: center;
}

.value-item-about {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 10px rgba(44, 33, 76, 0.3);
    padding: 30px;
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.value-item-about:hover {
    transform: translateY(-10px);
}

.value-icon-about {
    font-size: 40px;
    color: #2a5d84;
    margin-bottom: 20px;
}

.value-item-about h3 {
    font-size: 24px;
    color: #282c34;
}

.call-to-action {
    padding: 50px 20px;
    text-align: center;
    background-color: #007bff;
    color: white;
}

.cta-button {
    background: white;
    color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #0056b3;
    color: white;
}

@media (max-width: 480px) {
    .company-overview {
        padding: 20px 10px;
        width: 95%;
    }

    .company-overview h2 {
        font-size: 24px;
    }

    .company-overview p {
        font-size: 0.9rem;
    }

    .about-us-content h2 {
        font-size: 24px;
    }

    .values-list-about {
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 15px;
    }

    .value-item-about {
        max-width: 90%;
        padding: 15px;
    }

    .value-icon-about {
        font-size: 25px;
    }

    .value-item-about h3 {
        font-size: 18px;
    }

    .call-to-action {
        padding: 30px 10px;
    }

    .cta-button {
        padding: 7px 14px;
        font-size: 0.85rem;
    }
}

@media (max-width: 767px) {
    .company-overview {
        padding: 30px 10px 0px 10px;
        width: 90%;
    }

    .company-overview h2 {
        font-size: 28px;
    }

    .company-overview p {
        font-size: 1rem;
    }

    .about-us-content h2 {
        font-size: 28px;
    }

    .values-list-about {
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 20px;
    }

    .value-item-about {
        width: 80%;
        padding: 20px;
    }

    .value-icon-about {
        font-size: 30px;
    }

    .value-item-about h3 {
        font-size: 20px;
    }

    .call-to-action {
        padding: 40px 10px;
    }

    .cta-button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .company-overview {
        padding: 40px 20px;
        width: 85%;
    }

    .company-overview h2 {
        font-size: 32px;
    }

    .company-overview p {
        font-size: 1.1rem;
    }

    .about-us-content h2 {
        font-size: 32px;
    }

    .values-list-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 25px;
    }

    .value-item-about {
        max-width: 80%;
        padding: 25px;
    }

    .value-icon-about {
        font-size: 35px;
    }

    .value-item-about h3 {
        font-size: 22px;
    }

    .call-to-action {
        padding: 45px 15px;
    }

    .cta-button {
        padding: 9px 18px;
        font-size: 0.95rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .company-overview {
        width: 80%;
    }

    .company-overview h2 {
        font-size: 34px;
    }

    .company-overview p {
        font-size: 1.2rem;
    }

    .about-us-content h2 {
        font-size: 34px;
    }

    .values-list-about {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 30px;
    }

    .value-item-about {
        max-width: 320px;
        padding: 25px;
    }

    .value-icon-about {
        font-size: 35px;
    }

    .value-item-about h3 {
        font-size: 22px;
    }

    .call-to-action {
        padding: 50px 20px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 1rem;
    }
}