.sectors-section {
    background-color: white;
    padding: 2rem 0rem;
    text-align: center;
    width: 80%;
    margin: auto;
}

.sectors-title {
    margin-bottom: 2rem;
    font-size: 2em;
    color: #2C2A52;
}


.top-sectors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    justify-items: center;
    margin-bottom: 1.25rem;
}

.bottom-sectors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    justify-items: center;
}

.sector-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    /* padding: 1.25rem; */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    /* 2px 5px */
    width: 15.625rem;
    /* 250px */
    max-width: 15.625rem;
    /* 250px */
}

/* Hover effect */
.sector-card:hover {
    transform: translateY(-0.3125rem);
    /* -5px */
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
    /* 4px 10px */
}

/* Sector icon styling */
.sector-icon {
    width: 6.25rem;
    /* 100px */
    height: 6.25rem;
    /* 100px */
    margin-bottom: 0.3125rem;
    /* 5px */
}

/* Sector name */
.sector-name {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

/* Responsive behavior */
@media (max-width: 768px) {

    /* Adjust icon size for smaller screens */
    .sector-icon {
        width: 3.75rem;
        /* 60px */
        height: 3.75rem;
        /* 60px */
    }

    /* Adjust sector name font size */
    .sector-name {
        font-size: 1rem;
    }

    /* Adjust width of the cards for smaller screens */
    .sector-card {
        width: 12.5rem;
        /* 200px */
        max-width: 12.5rem;
        /* 200px */
    }

    /* Adjust the grid layout for smaller screens */
    .top-sectors-grid,
    .bottom-sectors-grid {
        grid-template-columns: repeat(1, 1fr);
        /* 1 item per row for small screens */
    }

    /* Adjust font size for h1 under sectors-title */
    .sectors-title h1 {
        font-size: 2em;
        /* Adjust font size for tablets */
    }
}

/* Media Query for Mobile */
@media (max-width: 480px) {

    /* Adjust font size for h1 under sectors-title for mobile */
    .sectors-title h1 {
        font-size: 1.5em;
        /* Adjust font size for mobile screens */
    }
}