.contact-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
}

.map-container {
    flex: 1;
    margin-right: 20px;
}

.mapIframe {
    width: 600px;
    height: 450px;
}

.contact-form {
    flex: 1;
    max-width: 500px;
    text-align: left;
    background-color: white;
    padding: 0px 20px 20px 20px;
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Shadow for the input fields */
    transition: box-shadow 0.3s ease-in-out;
    /* Add a smooth transition for shadow effect */
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: 0 0 8px rgba(0, 150, 255, 0.7);
    /* Shadow on focus */
    outline: none;
    /* Remove default outline */
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Shadow for the button */
}

.contact-form button:hover {
    background-color: #45a049;
}

.status-message {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

/* For tablets and smaller desktops */
@media (max-width: 1024px) {
    .contact-page {
        flex-direction: column;
        align-items: center;
    }

    .map-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .mapIframe {
        width: 100%;
        height: 350px;
    }

    .contact-form {
        width: 90%;
        max-width: 500px;
    }

    .contact-form h2 {
        font-size: 1.8rem;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .contact-page {
        width: 90%;
    }

    .mapIframe {
        height: 300px;
    }

    .contact-form h2 {
        font-size: 1.6rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9rem;
        padding: 8px;
    }

    .contact-form button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

/* For small mobile devices */
@media (max-width: 480px) {
    .mapIframe {
        height: 250px;
    }

    .contact-form h2 {
        font-size: 1.4rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.8rem;
        padding: 6px;
    }

    .contact-form button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}