.homeDiv {
    text-align: center;
}

.home h1 {
    font-size: 2.5rem;
    color: #333;
}

.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroWrapper {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.heroWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    .home h1 {
        font-size: 2rem;
    }

    .heroWrapper {
        height: 50vh;
    }
}

@media (max-width: 480px) {
    .heroWrapper {
        height: 80vh;
    }
}

.home p {
    font-size: 1.2rem;
    color: #555;
}

@media (max-width: 768px) {
    .home p {
        font-size: 1rem;
    }
}