.service-page-container {
    /* padding-bottom: 20px; */
    text-align: center;
}

.service-page-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2a5d84;
}

.service-page-image {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
}

.service-page-content {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #555;
    width: 80%;
    margin: auto;
}

.service-page-content p {
    line-height: 1.6;
}

.about-us-content {
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
}

.about-us-content h2 {
    font-size: 36px;
    color: #2a5d84;
    margin-bottom: 40px;
}

.values-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;
    justify-items: stretch;
    justify-content: center;
    margin: 0 auto;
}

.value-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 15px rgba(44, 33, 76, 0.3);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value-item:hover {
    transform: translateY(-10px);
}

.value-icon {
    font-size: 40px;
    color: #2a5d84;
    margin-bottom: 20px;
}

.value-item h3 {
    font-size: 24px;
    color: #282c34;
}

.value-item img,
.service-page-image {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.second-image-div {
    width: 100vw;
    height: 90vh;
    /* padding: 20px 0; */
    overflow: hidden;
    margin-bottom: 0;
}

.second-image {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}


@media (max-width: 1024px) {
    .service-page-container h1 {
        font-size: 2rem;
    }

    .service-page-content {
        margin-top: 1rem;
        font-size: 1.1rem;
    }

    .values-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .value-item {
        padding: 20px;
    }

    .value-item h3 {
        font-size: 20px;
    }

    .value-icon {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .service-page-container h1 {
        font-size: 1.8rem;
    }

    .service-page-content {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .values-list {
        grid-template-columns: 1fr;
    }

    .value-item {
        padding: 15px;
    }

    .value-item h3 {
        font-size: 18px;
    }

    .value-icon {
        font-size: 30px;
    }

    .service-page-image {
        height: 50vh;
        background-image: none;
        background-position: top;
    }

    .service-page-image::before {
        content: '';
        display: block;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 480px) {
    .service-page-container h1 {
        font-size: 1.5rem;
    }

    .service-page-content {
        margin-top: 1rem;
        font-size: 1rem;

    }

    .values-list {
        grid-template-columns: 1fr;
    }

    .value-item {
        padding: 10px;
    }

    .value-item h3 {
        font-size: 16px;
    }

    .value-icon {
        font-size: 28px;
    }

    .service-page-image {
        height: 60vh;
        background-position: top;
    }
}