.services-container {
    background-color: #282c34;
    padding-bottom: 40px;
    overflow: hidden;
}

.services-main-container {
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    padding-top: 2rem;
}

.services-row {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.services-row>* {
    flex: 0 0 calc(100% / 4);
    box-sizing: border-box;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .services-row>* {
        flex: 0 0 calc(100% / 3);
    }
}

@media (max-width: 768px) {
    .services-row>* {
        flex: 0 0 calc(100% / 2);
    }
}

@media (max-width: 480px) {
    .services-row {
        display: block;
    }

    .services-row>* {
        flex: 0 0 100%;
        display: none;
    }

    .services-row>*:nth-child(1) {
        display: block;
    }
}