.services-container {
    background-color: #282c34;
    padding-bottom: 40px;
}

.services-main-container {
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    padding-top: 2rem;
}

.services-row {
    padding-top: 1rem;
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    gap: 15px;
}

.services-row>* {
    flex: 0 0 calc(100% / 4);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .services-row>* {
        flex: 0 0 calc(100% / 2);
        /* Adjust width for 2 items visible on smaller screens */
    }
}

@media (max-width: 480px) {
    .services-row>* {
        flex: 0 0 100%;
        /* 1 item visible at a time on mobile */
    }
}