.client-section {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    color: #333;
    width: 80%;
    margin: auto;
}

.client-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.client-logo img {
    max-width: 80%;
    max-height: 60%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.client-logo img:hover {
    filter: none;
}

/* Default font size for h1 */
.client-section h1 {
    font-size: 2em;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    .client-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    /* Adjust font size for tablets */
    .client-section h1 {
        font-size: 36px;
        /* Adjust font size for medium screens */
    }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
    .client-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Adjust font size for smaller screens (mobiles) */
    .client-section h1 {
        font-size: 28px;
        /* Smaller font size for small mobile screens */
    }

    .client-logo img {
        max-width: 80px;
    }

    .client-logo img {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        filter: grayscale(0%);
        transition: filter 0.3s ease-in-out;
    }
}