.logo-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.footer-logo {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.footer-container {
    background-color: #333;
    color: #fff;
    padding-top: 2%;
    width: 100%;
}

.footerMainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1% 0 30px 0;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #f4f4f4;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #f4f4f4;
}

.footer-column p {
    margin: 0 0 10px 0;
    line-height: 1.6;
    font-size: 14px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #f4f4f4;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ffcc00;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footerMainContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        padding-bottom: 10%;
    }

    .footer-column {
        margin: 15px 0;
        text-align: center;
        min-width: unset;
    }

    .logo-circle {
        margin: 0 auto 20px;
    }

    .footer-logo {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .footerMainContainer {
        width: 95%;
        padding: 10px 0;
        padding-bottom: 10%;
    }

    .footer-column h4 {
        font-size: 16px;
    }

    .footer-column p,
    .footer-column ul li {
        font-size: 13px;
    }

    .logo-circle {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .footerMainContainer {
        padding: 10px 0;
        padding-bottom: 10%;
    }

    .footer-logo {
        max-width: 80%;
    }

    .logo-circle {
        width: 100px;
        height: 100px;
    }

    .footer-column ul li {
        margin: 10px 0;
    }
}