.benefits-container {
    background-color: #F5F5F5;
}

.benefits-main-container {
    padding: 50px 20px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.benefits-title {
    margin-bottom: 2rem;

}

.benefits-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.benefits-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.benefit-card {
    background-color: #B8E0EB;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefit-icon {
    font-size: 50px;
    margin-bottom: 15px;
}

.benefit-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.benefit-description {
    font-size: 0.9rem;
    color: #666;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .benefits-row {
        grid-template-columns: repeat(1, 1fr);
    }

}