.teamSectionDiv {
    background: linear-gradient(135deg, #00bcd4, #3f51b5);
}

.team-section {
    width: 80%;
    margin: auto;
    padding: 60px 20px;
}

.team-section h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.team-section p {
    font-size: 18px;
    color: white;
    max-width: 800px;
    margin: 0 auto 20px;
}

.team-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.owner-section {
    display: grid;
    flex: 0 0 60%;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    justify-content: center;
    text-align: left;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 0px 20px;
}

.owner-image {
    width: 90%;
    height: 100%;
    margin-bottom: 20px;
}

.owner-image img {
    width: 95%;
    height: 90%;
    border-radius: 5%;
    border: 5px solid #3f51b5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.owner-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.owner-info h3 {
    font-size: 26px;
    color: #3f51b5;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold !important;
}

.ownerMainP {
    font-size: 18px;
    color: #555;
    line-height: 1;
    font-weight: bold;
    text-align: left;
}

.owner-info p {
    padding: 0 10px;
    font-size: 18px;
    color: #555;
    line-height: 1;
    text-align: justify;
}


.team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-items: center;
}

.team-member {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    padding: 13px 25px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.team-member h3 {
    font-size: 22px;
    color: #3f51b5;
    margin-bottom: 0px;
}

.team-member p {
    font-size: 16px;
    color: #888;
    margin-bottom: 0;
    font-weight: bold;
}



@media (max-width: 1024px) {
    .owner-section {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 40px;
        grid-template-columns: 1fr;
    }

    .owner-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .owner-info {
        text-align: center;
        padding: 0 20px;
    }

    .owner-info h3 {
        font-size: 22px;
    }

    .owner-info p {
        padding: 0;
        font-size: 16px;
    }

    .ownerMainP {
        font-size: 16px;
    }

    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-member {
        width: 100%;
    }

    .team-member:hover {
        transform: none;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .owner-section {
        flex: 0 0 100%;
        margin-bottom: 30px;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .owner-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .owner-info h3 {
        font-size: 20px;
    }

    .owner-info p,
    .ownerMainP {
        padding: 0;
        font-size: 14px;
    }

    .team-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .team-member {
        padding: 20px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .team-layout {
        gap: 0px;
    }

    .owner-section {
        flex: 0 0 90%;
        margin-bottom: 20px;
        grid-template-columns: 1fr;
    }

    .owner-image {
        width: 100%;
        margin-bottom: 15px;
    }

    .owner-info h3 {
        font-size: 18px;
    }

    .owner-info p,
    .ownerMainP {
        padding: 0;
        font-size: 14px;
    }

    .team-grid {
        grid-template-columns: 1fr;
    }

    .team-member {
        padding: 15px;
        width: 100%;
    }

    .team-member h3 {
        font-size: 18px;
    }

    .team-member p {
        font-size: 14px;
    }
}